{{template "base" .}}

{{define "content"}}

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>This is the home Page</h1>
        <p>This a paragraph</p>
      </div>
    </div>
  </div>
  {{end}}